RewriteEngine on

#RewriteCond %{SERVER_PORT} 80 
#RewriteRule ^(.*)$ http://www.site_adi.com/$1 [R,L]

#RewriteCond %{HTTP_HOST} ^site_adi.com. [NC]
#RewriteRule ^(.*)$ http://www.site_adi.com/$1 [L,R=301,NC]


#Seo url oluşturma
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php

#RewriteRule ^bize-ulasin$ iletisim.php [NC,L]
#RewriteRule ^sitemap.xml$ sitemap.php [NC,L]

RewriteRule ^kategori-([0-9a-zA-Z-_]+)  urunler.php?sef=$1 [L,QSA]
RewriteRule ^urun-([0-9a-zA-Z-_]+)  urun-detay.php?sef=$1 [L,QSA]
RewriteRule ^detay-([0-9a-zA-Z-_]+)  siparis-detay.php?sef=$1 [L,QSA]

